<tr class = "tfields">	
	<td> <%= f.text_field :name %> </td>
	<td> <%= f.text_field :id_no %> </td>
	<td> <%= f.text_field :tipe %> </td>
	<td> <%= f.text_field :principal%></td>
	<td> <%= f.text_area :address, :cols => 25, :rows => 2 %> </td>
	<td> <%= f.text_field :city %> </td>
	<td>	 <%= f.text_field :state %> </td>
	<td>	 <%= f.text_field :pin %> </td>
	<td class='remove-button'> <%= link_to_remove_fields "X", f %> </td>    
</tr>
 
 
	