<div class = "tfields">
	
	<%= f.label :name %> 
    <%= f.text_field :name %><br /> 

    <%= f.label :id_no, "Branch ID" %> 
    <%= f.text_field :id_no %><br /> 
    
    <%= f.label :type %> 
    <%= f.text_field :type %><br /> 

    <%= f.label :principal %> 
    <%= f.text_field :principal %><br />
    
    <%= f.label :address %> 
    <%= f.text_field :address %><br />

    <%= f.label :city %>
    <%= f.text_field :city %><br />

    <%= f.label :state %>
    <%= f.text_field :state %><br />

    <%= f.label :pin %> 
    <%= f.text_field :pin %><br />	
 
	<%= link_to_remove_fields "remove", f %><br /><br /><br /><br />
    
</div>
 
 
	