<tr class = "tfields">	
	<td> <%= f.text_field :name %> </td>
	<td> <%= f.text_field :id_no, :size=> 10 %> </td>
	<td> <%= f.text_field :tipe, :size=> 15 %> </td>
	<td> <%= f.text_field :principal, :size=> 20 %></td>
	<td> <%= f.text_area :address, :cols => 25, :rows => 2 %> </td>
	<td> <%= f.text_field :city, :size=> 12 %> </td>
	<td>	 <%= f.text_field :state, :size=>12  %> </td>
	<td>	 <%= f.text_field :pin, :size=> 8  %> </td>
	<td> <%= link_to_remove_fields "Remove", f %> </td>    
</tr>
 
 
	