<p id="input_table_row_count"> </p>			
<%= form_for (institution, :url => branchcreate_institution_path(institution)) do |f| %>		
	<%= render 'shared/error_messages', :target => institution %>
	<table class="input_form_table"  summary="Section Student Index">
		<thead>
	    	<tr>
	        	<th scope="col">Name</th>
	            <th scope="col"> ID Number </th>
	            <th scope="col">Type</th>
	            <th scope="col">Principal</th>
	            <th scope="col">Address</th> 
	            <th scope="col">City</th>
	            <th scope="col">State</th>
	            <th scope="col">Pin</th>      	     
	            <th scope="col">Delete</th>      	                          
	        </tr>
	    </thead>
	    <tbody>
		<%= f.fields_for :branches do |builder| %>	
	 	 	<%= render "branch_fields", :f => builder %>	 	  
		<% end %>		
	    </tbody>		
	</table>			
 	<p class='add-button'> <%= link_to_add_fields "Add Branch", f, :branches %> </p>		 	
	<p class='button'> <%= f.submit  "Update Branches" %> </p>
<% end %>

