<%= form_for @institution,  :html => { :class => "zaform"} do |f| %>
	<%= render 'shared/error_messages', :target => @institution %>	  
	<table class="form-table"  summary="Branch edit information">
	    <tbody>	
			<tr>
				<td> 
					<strong><%= f.label :name %> </strong> 
				</td>
				<td> 	 
			    	<%= f.text_field :name %>	</td>
				</td>
			</tr>					
			<tr>
				<td> 
					<strong><%= f.label :id_no, "Institution ID" %>  </strong> 
				</td>
				<td> 	 
			    	<%= f.text_field :id_no %>
				</td>
			</tr>
				<td> 
					<strong> <%= f.label :ceo, "CEO" %>  </strong> 
				</td>
				<td> 	 
			    	<%= f.text_field :ceo %>	</td>
				</td>
			</tr>					
			<tr>
				<td> 
					<strong><%= f.label :registered_address, "Registered Address" %>  </strong> 
				</td>
				<td> 	 
			    	<%= f.text_area :registered_address, :rows => 3 %>	</td>
				</td>
			</tr>					
			<tr>
				<td> 
					<strong> <%= f.label :city %>  </strong> 
				</td>
				<td> 	 
			    	<%= f.text_field :city %>
				</td>
			</tr>				
			<tr>			
				<td> 	 
			    	<strong> <%= f.label :state %>  </strong> 
				</td>
				<td> 	 
			    	<%= f.text_field :state %>	</td>
				</td>
			</tr>					
			<tr>
				<td> 
					<strong><%= f.label :pin %>  </strong> 
				</td>
				<td> 	 						 
			    	<%= f.text_field :pin %>
				</td>
			</tr>
		</tbody>
	</table>				 
    <p> <%= f.submit %> </p>
<% end %>
