<table id='branch_show' class="one-column-emphasis" summary="Branch Details">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <thead>
    	<tr>
        	<th scope="col">Name</th>
            <th scope="col"> <%= institution.name %></th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td> ID Number </td>
            <td>	 <%= institution.id_no %> </td>
        </tr>         	
    	<tr>
        	<td>CEO</td>
            <td>  <%= institution.ceo %>  </td>
        </tr>    	      
    	<tr>
        	<td>Registered Address</td>
            <td>	<%= institution.registered_address %>, <br> <%= institution.city %>, <%= institution.state %>, <br> <%= institution.pin %> </td>
        </tr>                  
    </tbody>
</table>




