<div id="main-column">		
	<h1> <%=	title "Institutions Index" %> </h1>
	
	<%= form_tag institutions_path, :method => 'get', :id => "institutions_search" do %>
		 <p>
	    	<%= text_field_tag :search, params[:search] %>
	    	<%= submit_tag "Search", :name => nil %>
	  	</p>
	  	<div id="institutions">
			<%= render 'institutions' %>
		</div>
	<% end %>
	
<%d = Date.today%>
 <%= calendar_for(d.year,d.month, :next_month => "%b") %> 
		
	<%= link_to 'New Institution', new_institution_path %>
</div>

