<script type="text/javascript" charset="utf-8">
	var chart;
	$(function() {
		var catArray = [] ;
		<% @categories.each do |e| %>
		catArray.push('<%= e %>')
		<% end %>
		
		new Highcharts.Chart({
			chart: {
				renderTo: 'container'
			},
			title: {
				text: '<%= @title_text %>'
			},
			subtitle: {
         		text: '<%= @subtitle_text %>'
      		},
			xAxis: {
				categories: catArray
			},
			yAxis: {
         		title: {
            		text: '<%= @y_axis_text %>',
            	 }
            },		
			tooltip: {
				formatter: function() {
					var s;
					if (this.point.name) { // the pie chart
						s = ''+
					this.point.name +': '+ this.y +' fruits';
					} else {
						s = ''+
						this.x  +': '+ this.y;
					}
					return s;
				}
			},
			series: [
				<% @series.each do |s| %>
					{
					type: 'column',
					name: '<%= s[:name] %>',
					data: <%= s[:marks].inspect %>
					},
			<% end %>
			/*
			{
				type: 'spline',
				name: 'Class average',
				data: <%= @average.inspect %>
			}*/
			]
		});   
	});
</script>
<div id="container"></div>