<div id="content_box">	
	<div id="main_content">
		<%= form_tag graphs_marks_path, :method => 'get', :id => "graphs" do %>
		<p>
		  <%= label_tag :classes  %><br />
		  <%= text_field_tag :clazz_ids %>
		</p>
		<p>
		  <%= label_tag :sections  %><br />
		  <%= text_field_tag :section_ids %>
		</p>
		<p>
		<p>
		  <%= label_tag :subjects  %><br />
		  <%= text_field_tag :subject_ids %>
		</p>
		<p>			
		  <%= label_tag :students , "Students" %><br />
		  <%= text_field_tag :student_ids %>
		</p>
						
		<%= submit_tag "Search", :name => nil %>
		<% end %>
</div>
</div>









