<%= form_tag stacked_cols_marks_path, :method => 'get', :class => "sections_graph" do %>
	<%= hidden_field_tag :section_id, @section.id %>
	<%= hidden_field_tag :type, @type %>				
	<div id="form-table-div">
		<p class='heading2'> Section Graphs </p>		
		<table class="form-table"  summary="Section graphs">
			<tbody>
				<tr>	
					<td> <strong> Students </strong> </td> 
					<td> <%= text_field_tag :student_ids %> </td>					
				</tr>
				<tr>	
					<td> <strong> Test </strong> </td> 
					<td> <%= select_tag :test_id, options_from_collection_for_select(@section.tests, 'id', 'name') %>  </td>					
				</tr>				
				<tr><td class='button' colspan='2'><%= submit_tag "Generate Graph" %></td></tr>	
			</tbody>
		</table>										
	</div>						
<% end %>
