<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		var catArray = [] ;
		<% @categories.each do |s| %>
			catArray.push('<%= s %>')
		<% end %>	
				
		new Highcharts.Chart({
			chart: {
				renderTo: 'container',
				defaultSeriesType: 'column'
			},
			title: {
				text: '<%= @title_text%>'
			},
			subtitle: {
         		text: '<%= @subtitle_text %>'
      		},
			xAxis: {
				categories: catArray
			},
			yAxis: {
				min: 0,
				title: {
					text: '<%= @y_axis_title %>'
				},
				stackLabels: {
					enabled: true,
					style: {
						fontWeight: 'bold',
						color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
					}
				}
			},
			legend: {
				align: 'right',
				x: 0,
				verticalAlign: 'top',
				y: 20,
				floating: true,
				backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
				borderColor: '#CCC',
				borderWidth: 1,
				shadow: false
			},
			tooltip: {
				formatter: function() {
					return '<b>'+ this.x +'</b><br/>'+
					this.series.name +': '+ this.y +'<br/>'+
					'Total: '+ this.point.stackTotal;
				}
			},
			plotOptions: {
				column: {
					stacking: 'normal',
					dataLabels: {
						enabled: true,
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
					}
				}
			},
			series: [
					<% @series.each do |s| %>
					{
					name: '<%= s[:name] %>' ,
					data: <%= s[:marks].inspect %>
					}, 
				<% end %>
			]
		});	
	});
</script>

<div id="container"></div>