<div id="main-column">
	<p class="heading1">
		Profiles Index
	</p>	
	<table class='index_table_z'>
	    <thead>		    	
		    	<tr>
		    		<th scope="col">Email</th>
		    		<th scope="col">Name</th>
		    		<th scope="col">Type</th>
		    		<th scope="col">Roles</th>
		        </tr>	    	
		</thead>
	    <tbody>			
			<% for profile in @profiles %>
				<tr>
					<td> <%= link_to profile.email, profile_path(profile) %>  </td>
					<% if  profile.profile_type == Profile::PROFILE_TYPE_STUDENT  %>
						<td><%= link_to profile.user_profile.name, student_path(profile.user_profile) %> </td>									
						<td>	<%= "Student" %> </td>
					<% elsif profile.profile_type == Profile::PROFILE_TYPE_TEACHER %>
						<td><%= link_to profile.user_profile.name, teacher_path(profile.user_profile) %></td>										
						<td><%= "Teacher" %>	</td>							
					<% elsif profile.profile_type == Profile::PROFILE_TYPE_ADMIN %>
						<td><%=profile.user_profile.name%>
						<td><%= "Administrator" %></td>
					<% end %>
					<td>
						<% for role in profile.roles %>
							<%= "#{role.name.humanize} " %> <br>
						<% end %>
					</td>
				</tr>
			<% end%>
		</table>
	</tbody>	
	<div id="fav-bar">
		<ul>
			<li class='first'>  <%= link_to "My Home", root_url  %> </li>
		</ul>	
	</div>					
</div>



