<div id="sign-up-layer">
</div>	
<div id="sign-up">	
	<p class='heading'> Sign Up </p>
	<%= form_for @profile do |f| %>
		<% if @profile.errors.any? %>
			<div class="error_messages">
				<h2>Form is invalid</h2>
				<ul>
					<% for message in @profile.errors.full_messages %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>		
		<table>
		    <tbody>	
				<tr>
					<td> 
						<strong><%= f.label :email %> </strong><br>
					 	<%= f.text_field :email %> 
					 </td>
				</tr>
				<tr>
					<td> 
						<strong><%= f.label :password %></strong> <br>
						<%= f.password_field :password %>
					</td>			 	
				</tr>
				<tr>
					<td> 
						<strong><%= f.label :password_confirmation %></strong><br />
						<%= f.password_field :password_confirmation %>
					</td>
				</tr>			
				<tr>
					<td colspan='2' class='button'> <br><%= submit_tag "Sign Up" %> </td>
				</tr>
			</tbody>
		</table>
	<% end %>
</div>	

