<div id="content">
	<div class="padding">		
		<p>
		 	<h2>  <%= @profile.email %> </h2>
		</p>
		
		<p>
			 <b>Type:  </b>
			 <%= @profile.profile_type  %>
		</p>
		
		<p>
			<b>Name :  </b>
			<%= @profile.user_profile_name %>
		</p>

		<h3> Roles </h3>		
		<% for role in @profile.roles %>
			<ul>
				<li> <%= role.name.humanize %> </li>
			</ul> 		
		<% end %>
	  	
	  	<br><br>	
    	<%= link_to 'Edit this profile', edit_profile_path(@profile) %> 
	</div>
</div>

