 <p id="input_table_row_count"> </p>	
<%= form_for (branch, :url => clzcreate_branch_path(branch)) do |f| %>		
	<%= render 'shared/error_messages', :target => branch %>
	<table class="input_form_table"  summary="Branch Teachers index">
		<thead>
	    	<tr>
	        	<th scope="col">Class Name</th>
	            <th scope="col"> Delete </th>
	        </tr>
	    </thead>
	    <tbody>		
		<%= f.fields_for :clazzs do |builder| %>	
	 		<%= render "clazz_fields", :f => builder %>	 	  
		<% end %>		
	    </tbody>		
	</table>	
 	<p class='add-button'> <%= link_to_add_fields "Add Class", f, :clazzs %> </p>     		  
	<p class='button'> <%= f.submit  "Update Classes" %> </p>
     </div>     	
<% end %>

