<%= form_for @branch do |f| %>
	<%= render 'shared/error_messages', :target => @branch %>	  
	<table class="form-table"  summary="Branch edit information">
	    <tbody>	
			<tr>
				<td> 
					<strong><%= f.label :name %></strong> 
				</td>
				<td> 	 
					<%= f.text_field :name %>	</td>
				</td>
			</tr>
					
			<tr>
				<td> 
					<strong><%= f.label :id_no, "ID" %></strong> 
				</td>
				<td> 	 
					<%= f.text_field :id_no %>	</td>
				</td>		
			</tr>
					
			<tr>
				<td> 
					<strong><%= f.label :tipe, "Type" %></strong> 
				</td>
				<td> 	 
				    <%= f.text_field :tipe %>	</td>
				</td>
			</tr>
					
			<tr>
				<td> 
					<strong><%= f.label :principal %></strong> 
				</td>
				<td> 	 
					<%= f.text_field :principal %>	</td>
				</td>
			</tr>
					
			<tr>
				<td> 
					<strong><%= f.label :address %></strong> 
				</td>
				<td> 	 
					<%= f.text_area :address, :rows => 3 %>	</td>
				</td>
			</tr>
					
			<tr>
				<td> 
					<strong> <%= f.label :city %></strong> 
				</td>
				<td> 	 
					<%= f.text_field :city %>	</td>
				</td>
			</tr>
					
			<tr>
				<td> 
					<strong> <%= f.label :state %></strong> 
				</td>
				<td> 	 
					<%= f.text_field :state %>	</td>
				</td>		
			</tr>
					
			<tr>
				<td> 
					<strong> <%= f.label :pin %></strong> 
				</td>
				<td> 	 
					<%= f.text_field :pin %>
				</td>
			</tr>
		</tbody>
	</table>	
	<%= f.submit %>
<% end %>
