<table id='branch_show' class="one-column-emphasis" summary="Branch Details">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <thead>
    	<tr>
        	<th scope="col">Name</th>
            <th scope="col"> <%= branch.name %></th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td> ID Number </td>
            <td>	 <%= branch.id_no %> </td>
        </tr>         	
    	<tr>
        	<td>Principal</td>
            <td>  <%= branch.principal %>  </td>
        </tr>    	      
    	<tr>
        	<td>Institution Name </td>
            <td>	 <%= link_to branch.institution.name, institution_path(branch.institution) %> </td>
        </tr>        
    	<tr>
        	<td>Address</td>
            <td>	 <%= branch.address %>, <br> <%= branch.city %>, <%= branch.state %>, <br> <%= branch.pin %> </td>
        </tr>                  
    </tbody>
</table>


