<h1><%= branch.name %> </h1>
<h2>Add Subjects </h2>
 <p id="input_table_row_count"> </p>
<%= form_for (branch, :url => subcreate_branch_path(branch)) do |f| %>
	
	<%= render 'shared/error_messages', :target => branch %>
	<table class="input_form_table"  summary="Test details">
		<thead>
	    	<tr>
	        	<th scope="col">Test Name</th>
	        	<th scope="col">Max Marks</th>
	        	<th scope="col">Action</th>	        		        	
	        </tr>
	    </thead>
	    <tbody>
		<%= f.fields_for :subjects do |builder| %>	
				<%= render "subject_fields", :f => builder %>	 	  
		<% end %>
	    </tbody>		
	</table>			
	<p> <%= link_to_add_fields "Add Subject", f, :subjects %> </p>		
	<p> <%= f.submit  "Update Subjects" %> </p>    
<% end %>
