<div class = "tfields">
	<div class="field">
		<%= f.label :name %>
		 <%= f.text_field :name %>
	</div>		 
	<div class="field">
		<%= f.label :max_marks, "Maximum marks" %>
		<%= f.text_field :max_marks %>
	</div>			
	<%= link_to_remove_fields "remove", f %><br>
</div>