<p id="input_table_row_count"> </p>
<%= form_for (branch, :url => tchrcreate_branch_path(branch)) do |f| %>			
    <%= render 'shared/error_messages', :target => branch %>
	<table class="input_form_table"  summary="Branch Teachers index">
		<thead>
	    	<tr>
	        	<th scope="col">Name</th>
	            <th scope="col"> ID Number </th>
	            <th scope="col">Gender</th>
	            <th scope="col">Action</th>            
	        </tr>
	    </thead>
	    <tbody>		
		<%= f.fields_for :teachers do |builder| %>	
	 		<%= render "teacher_fields", :f => builder %>	 	  
		<% end %>
	    </tbody>		
	</table>			
 	<p> <%= link_to_add_fields "Add Teacher", f, :teachers %> </p>
 	<p> <%= f.submit  "Update Teachers" %>  </p>
<% end %>
