<h1><%= branch.name %> </h1>
<h2> Add Tests  </h2>
<%= form_for (branch, :url => testcreate_branch_path(branch)) do |f| %>	
	<%= render 'shared/error_messages', :target => branch %>
	<table class="input_table">
		<tr> <th> Test name </th> <th> Action </th> </tr>
		<%= f.fields_for :tests do |builder| %>	
	 	  <%= render "test_fields", :f => builder %>	 	  
		<% end %>
 	</table>     			
 	<%= link_to_add_fields "Add Test", f, :tests %> 
	<div class="actions">     	
 		<p > <%= f.submit  "Update Tests" %> </p>
	</div>     		 	
<% end %>
