<p id="input_table_row_count"> </p>
<%= form_for (branch, :url => testcreate_branch_path(branch)) do |f| %>	
	<%= render 'shared/error_messages', :target => branch %>
	<table class="input_form_table"  summary="Branch Teachers index">
		<thead>
	    	<tr>
	        	<th scope="col">Tests</th>
	            <th scope="col"> Delete </th>
	        </tr>
	    </thead>
	    <tbody>	
		<%= f.fields_for :tests do |builder| %>	
	 		<%= render "test_fields", :f => builder %>	 	  
		<% end %>
	    </tbody>		
	</table>					
 	<p class='add-button'> <%= link_to_add_fields "Add Test", f, :tests %>  </p>
	<p class='button'> <%= f.submit  "Update Tests" %> </p>
<% end %>
