<table id='student_show' class="one-column-emphasis" summary="Student Details">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <thead>
    	<tr>
        	<th scope="col">Name</th>
            <th scope="col"> <%= student.name %></th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td>Gender</td>
            <td><%= student.female? ? "Female" : "Male" %></td>
        </tr>    	
    	<tr>
        	<td>ID Number</td>
            <td><%= student.id_no %></td>
        </tr>
        <tr>
        	<td>Date of Birth</td>
            <td> <%= student.dob.to_s(:long) %></td>
        </tr>
        <tr>
        	<td>Class</td>
            <td><%= student.section.clazz.name %>,&nbsp;<%= student.section.name %> </td>
        </tr>
        <tr>
        	<td>School</td>
            <td> <%= student.section.clazz.branch.name %> </td>
        </tr>        
        <tr>
        	<td>Email</td>
            <td>	<%= student.student_contact.primary_email  %> , <i> <%= student.student_contact.email %></td>
        </tr>
        <tr>
        	<td>Address</td>
            <td><%= student.student_contact.address %></td>
        </tr>
        <tr>
        	<td>Phone</td>
            <td><%= student.student_contact.mobile%> | <%= student.student_contact.telephone%> </td>
        </tr>            
    </tbody>
</table>
