<table id='student_show' class="one-column-emphasis" summary="Student Details">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <thead>
    	<tr>
        	<th scope="col">Name</th>
            <th scope="col"> <%= student.name %></th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td>Gender</td>
            <td><%= student.female? ? "Female" : "Male" %></td>
        </tr>    	
    	<tr>
        	<td>ID Number</td>
            <td><%= student.id_no %></td>
        </tr>
        <tr>
        	<td>Date of Birth</td>
            <td> <%= student.dob.to_s(:long) %></td>
        </tr>
        <tr>
        	<td>Class</td>
            <td><%= link_to student.section.clazz.name, clazz_path(student.section.clazz) %>,&nbsp;<%= link_to student.section.name, section_path(student.section) %> </td>
        </tr>
        <tr>
        	<td>School</td>
            <td> <%= link_to student.section.clazz.branch.name, branch_path(student.section.clazz.branch) %> </td>
        </tr>        
        <tr>
        	<td>Email</td>
            <td>	<%= student.student_contact.primary_email  %> , <i> <%= student.student_contact.email %></td>
        </tr>
        <tr>
        	<td>Address</td>
            <td><%= student.student_contact.address %></td>
        </tr>
        <tr>
        	<td>Phone</td>
            <td><%= student.student_contact.mobile%> | <%= student.student_contact.telephone%> </td>
        </tr>            
    </tbody>
</table>


<p class="heading2">
	<%= student.name %>'s marks
</p>	
<table class='index_table_z' >
    <thead>		    	
	    	<tr>
	    		<th scope="col">Test</th>
	        	<% for map in student.section.sec_sub_maps %>
	        			<th scope="col"> <%= Subject.find(map.subject_id).name.humanize %> </th>
	            <% end %>
				<th scope="col"> Total </th> 
				<th scope="col"> Arrears </th> 				
	        </tr>	    	
	</thead>
    <tbody>
    	<tr>
			<% for mark in student.marks %>
				<tr>
					<td> <%= mark.test.name %> </td>
					<% for map in student.section.sec_sub_maps %>
						<% m_col = "sub#{map.mark_column}" %>
	        			<td> <%= mark.send(m_col) %> </td>
		            <% end %>
		    		<td> <%= mark.total %>
		    		<td> <%= mark.arrears %>		    			
		        </tr>
			<% end %>			
    </tbody>	
</table>	
