<tr>
	<td> 
		<strong> <%= f.label :primary_email, "Primary Email" %> </strong> 
	</td> 
	<td> 
		<%= f.text_field :primary_email %> 
	</td>
</tr>
<tr>
	<td> 
		<strong> <%= f.label :email, "Other Email" %> </strong> 
	</td> 
	<td> 
		<%= f.text_area :email, :cols => 30, :rows => 4 %> 
	</td>
</tr>
<tr>
	<td>
		 <strong> <%= f.label :mobile %> </strong> 
	</td>
	<td> 
	  	<%= f.text_field :mobile %>  
  	</td>
</tr>
<tr>
	<td> 
		<strong> <%= f.label :telephone, "Telephone(s)" %> </strong> 
	</td> 
	<td> 
		<%= f.text_area :telephone,  :cols => 20, :rows => 3 %> 
	</td>
</tr>
<tr>
	<td> 
		<strong> <%= f.label :address %> </strong> 
	</td> 
	<td> 
		<%= f.text_area :address, :cols => 30, :rows => 5 %> 
	</td>
</tr>
	