<div>										
	<p>	
		<%= f.label :primary_email, "Primary Email" %><br>
		<%= f.text_field :primary_email %> 
	</p>
	
	<p>	
		<%= f.label :email, "Other Email" %><br>
		<%= f.text_area :email, :cols => 30, :rows => 4 %> 
	</p>
	
	<p>	
		<%= f.label :mobile %><br>
		<%= f.text_field :mobile %> 
	</p>
	
	<p>	
		<%= f.label :telephone, "Telephone(s)" %><br>
		<%= f.text_area :telephone,  :cols => 20, :rows => 3 %> 
	</p>
	
	<p>	
		<%= f.label :address %><br>
		<%= f.text_area :address, :cols => 30, :rows => 5 %> <br>
	</p>
</div>	