<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table>
	<tr>
		<th> <%=sortable "name" %></th>
		<th><%= sortable "id_no", "ID" %></th>
		<th><%= sortable "female", "Gender" %></th>
		<th><%= "School" %> </th>
		<th><%= sortable "section_id", "Section" %></th>

		<th>Actions</th>
	</tr>

	<% @students.each do |student| %>
		<tr>
			<td><%= link_to student.name, student %></td>
			<td><%= student.id_no %></td>
			<% if student.female? %>
				<td> Female </td>
			<% else %>
				<td> Male </td>
			<% end %>
			<td><%= student.section.school.name %></td>
			<td><%= student.section.name %></td>
			<td> <%= link_to 'Edit', edit_student_path(student) %> | 
				    <%= link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete %> </td>
		</tr>
	<% end %>
</table>		
<%= will_paginate @students %>