<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table>
	<tr>
		<th> <%=sortable "name" %></th>
		<th><%= sortable "branch_id", "Branch" %></th>
		<th>Actions</th>
	</tr>

	<% @clazzs.each do |clazz| %>
		<tr>
			<td><%= link_to clazz.name, clazz %></td>
			<td><%= link_to clazz.branch.name, branch_path(clazz.branch) %>
			<td> <%= link_to 'Edit', edit_clazz_path(clazz) %> | 
				    <%= link_to 'Destroy', clazz, :confirm => 'Are you sure?', :method => :delete %> </td>				
		</tr>
	<% end %>
</table>		
<%= will_paginate @clazzs %>