<%= form_for @clazz,  :html => { :class => "zaform"} do |f| %>
	<%= render 'shared/error_messages', :target => @clazz %>	  
	<fieldset> 
		<legend>Class Details</legend> 
		<ol> 	
			<li>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</li>
		</ol>					
	</fieldset> 		 
    <%= f.submit "Update Class" %>
<% end %>