<%= form_for @clazz do |f| %>
	<%= render 'shared/error_messages', :target => @clazz %>	
	<table class="form-table"  summary="Class edit information">
	    <tbody>	  
			<tr>
				<td> 
					<strong><%= f.label :name %></strong>
				</td> 		
				<td> 
					<%= f.text_field :name %>
				</td>
			</tr> 
		</tbody>
	</table>
    <%= f.submit "Update Class" %>
<% end %>