<%= form_for(@clazz) do |f| %>
	<%= render 'shared/error_messages', :target => @clazz %>
	  
  	<div class="field">
		<%= f.label :name %><br />
	    <%= f.text_field :name %>
	 </div>
	  
	<div class="actions">
	    <%= f.submit %>
	</div>

<% end %>
