<div id="content">
	<div class="padding">
			<p>
			 	 <b>Name:</b>
			  	<%= @clazz.name %>
			</p>
			
			<p>
			 	 <b>Branch:</b>
			  	<%= link_to @clazz.branch.name, branch_path(@clazz.branch) %>
			</p>
			
			<p>
			 	 <b>Institution:</b>
			  	<%= link_to @clazz.branch.institution.name, institution_path(@clazz.branch.institution) %>
			</p>
			
			<h2> Sections list </h2>
			
			<p>
				<ul>
				<% @clazz.sections.each do |s| %>
					<li> 	
						<%= link_to s.name, section_path(s) %>
						<% if s.class_teacher_id %>
							- <%=Teacher.find(s.class_teacher_id).name %> 
						<% end %>
						
					</li>
				<% end %>
				</ul>		
			</p>	
			
			<br><br>
			<%= link_to 'Edit this class', edit_clazz_path(@clazz) %>  | 
			<%= link_to 'Back to ' + @clazz.branch.name, branch_path(@clazz.branch) %> |
			<%= link_to 'Classes Index', clazzs_path %> <br> <br>
			
			<b> Add | Edit &nbsp  </b> 
			<%= link_to 'Sections', secnew_clazz_path(@clazz)%>
	</div>
</div>
