<!-- Initialize the variables here (to be safe if there is nil) -->
<% subjects = section.clazz.branch.subjects ||= [] %>
<% teachers = section.clazz.branch.teachers ||= [] %>
<% tests = section.clazz.branch.tests ||= [] %>

<%= form_for section, :html => { :class => "zaform"} do |f| %> 
	<fieldset> 
	<legend>Subjects and Tests</legend> 
	<ol> 	
		
		<li> <!-- Start of Subjects -->
			<fieldset> 
				<legend>Select the Subjects</legend> 
				<table>
				<% for subject in subjects %>
					<tr> 
						<td> 
							<label> <%= check_box_tag "section[subject_ids][]", subject.id, section.subjects.include?(subject) %> <%= subject.name  %>  </label>
						</td>								
						<% if section.subjects.include?(subject) %>
					        <% t_id = subject.sec_sub_maps.find_by_section_id(section.id).teacher_id %>
					    <% else %>
					    	<% t_id = 0%>
						<%  end %> 						  
					    <td> 
					    	<label> <%= select ( "teacher", "#{subject.id}", teachers.map {|p| [ p.name, p.id ] }, {:include_blank => 'None', :selected => t_id}) %>   </label> 
					    </td> 
					</tr>
				<% end %>					
				</table>
			</fieldset>
		</li> <!-- End of Subjects -->
		
		<li> <!-- Start of Tests -->
			<fieldset> 
				<legend>Select the Tests</legend> 
				<% for test in tests %>
				 	<label> <%= check_box_tag "section[test_ids][]", test.id, section.tests.include?(test) %> <%= test.name  %> </label>
				<% end %>	
			</fieldset>
		</li> <!-- End of Tests -->
	</ol> 
	</fieldset> 	
	<%= f.submit "Update section" %>
<% end %>







