<!-- The alignments are bit messy here! Handle with care-->

<!-- Initialize the variables here (to be safe if there is nil) -->
<% subjects = section.clazz.branch.subjects ||= [] %>
<% teachers = section.clazz.branch.teachers ||= [] %>
<% tests = section.clazz.branch.tests ||= [] %>

<%= form_for section do |f| %> 
	<div id='form-table-div' style="width:860px;">
		<p class='heading2'> Test Schedule </p>
		<span >	
			<table class="form-table" summary="Section Tests">
			    <tbody>	
			    		<tr><th>Tests</th><th>Start Date</th><th>End Date</th></tr>	    	
						<% for test in tests %>
						<% if section.tests.include?(test) %>
					        <% startdate = test.sec_test_maps.find_by_section_id(section.id).startdate %>							 							
					        <% enddate = test.sec_test_maps.find_by_section_id(section.id).enddate %>
					        <% startdate = startdate.strftime("%d %B, %Y").to_s if startdate%>
					        <% enddate = enddate.strftime("%d %B, %Y").to_s if enddate%>
						<% else %>						        
							<% startdate = enddate = nil %>
						<% end %>
						<tr> 
							<td>
								 <%= check_box_tag "section[test_ids][]", test.id, section.tests.include?(test) %> <%= test.name  %> 
							 </td>
							 <td>
								<%= text_field_tag  "startdate[#{test.id}]",  startdate, :class => 'datepicker' %> 							
							</td>
							 <td>
								<%= text_field_tag  "enddate[#{test.id}]",  enddate, :class => 'datepicker' %> 							
							</td>							
						</tr>
						<% end %>	
				</tbody>
			</table>	
		</span>
		<p class='heading2'> Subjects and Teachers </p>		
		<span>
			<table class="form-table"  summary="Section Subjects">
			    <tbody>
			    	<tr><th>Subject</th><th>Max Marks</th> <th> Pass Marks </th><th>Teacher</th></tr>
					<% for subject in subjects %>
						<tr>
							<td>
							 	<%= check_box_tag "section[subject_ids][]", subject.id, section.subjects.include?(subject) %> <%= subject.name  %> 
							</td>					
							<% if section.subjects.include?(subject) %>
						        <% t_id = subject.sec_sub_maps.find_by_section_id(section.id).teacher_id %>
						        <% pass_marks = subject.sec_sub_maps.find_by_section_id(section.id).pass_marks %>
						        <% max_marks = subject.sec_sub_maps.find_by_section_id(section.id).max_marks %>
						    <% else %>
						    	<% t_id = 0%>
						    	<% pass_marks = nil %>
						    	<% max_marks = nil %>
							<%  end %> 		
							<td>
								<%= text_field_tag  "max_marks[#{subject.id}]",  max_marks, :size => 4 %> 
							</td>										
							<td>
								<%= text_field_tag  "pass_marks[#{subject.id}]", pass_marks, :size => 4 %> 
							</td>															
		
							<td>
								<%= select ( "teacher", "#{subject.id}", teachers.map {|p| [ p.name, p.id ] }, {:include_blank => 'None', :selected => t_id}) %> 
							</td>
						</tr>
					<% end %>					
				</tbody>
			</table>	
		</span>		
					<p class='button'> <%= f.submit "Update section" %> </p>

	</div>	
<% end %>







