<table id='section_show' class="one-column-emphasis" summary="Section Details">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <thead>
    	<tr>
        	<th scope="col">Name</th>
            <th scope="col"> <%= section.name %></th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td>Class</td>
            <td>	 <%= link_to section.clazz.name, clazz_path(section.clazz) %> </td>
        </tr>    	
    	<tr>
    		<% t= Teacher.find(section.class_teacher_id) %>
        	<td> Class Teacher </td>
            <td>	  <%= link_to t.name, teacher_path(t) %> </td>
        </tr>           
    	<tr>
        	<td>Branch</td>
            <td>	 <%= link_to section.clazz.branch.name, branch_path(section.clazz.branch) %> </td>
        </tr>       
    	<tr>
        	<td>Institution</td>
            <td>	 <%= link_to section.clazz.branch.institution.name, institution_path(section.clazz.branch.institution) %> </td>
        </tr>               
    </tbody>
</table>


