<tr class = "tfields">	
	<td><%= f.text_field :name, :size => 15 %>
	<td><%= f.text_field :id_no, :size => 10 %>
	<td>
		<% if f.object.new_record?%>
			<%= f.select :female, options_for_select([  ["Female", true], ["Male", false] ] ) , {:include_blank => 'None'}  %>
		<% else %>
			<%= f.select :female, options_for_select([  ["Female", true], ["Male", false] ], f.object.female? ) , {:include_blank => 'None'}  %>
		<% end %>
	</td>
	<td>
		<%= f.date_select :dob, {:prompt => true, :start_year => Time.now.year - 30, 
													:end_year => Time.now.year, :order => [:day, :month, :year]} %>
	</td>
	<td> <%= link_to_remove_fields "Remove", f %> </td>
 </tr>
	
