<p id="input_table_row_count"> </p>			
<%= form_for (section, :url => stucreate_section_path(section)) do |f| %>
	<%= render 'shared/error_messages', :target => section %>
	<table class="input_form_table"  summary="Section Student details">
		<thead>
	    	<tr>
	        	<th scope="col">Name</th>
	            <th scope="col"> ID Number </th>
	            <th scope="col">Gender</th>
	            <th scope="col">Date of Birth</th>
	            <th scope="col">Action</th>            
	        </tr>
	    </thead>
	    <tbody>
			<%= f.fields_for :students do |builder| %>	
		 	  <%= render "student_fields", :f => builder %>	 	  
			<% end %>
	    </tbody>		
	</table>			
 	<p> <%= link_to_add_fields "Add Student", f, :students %> </p>	 	
	<p class='button'> <%= f.submit  "Update Students" %>  </p>	  
<% end %>


