<div id="nav-column">
	<div id="photo-box">
	</div>
	<div class="nav-links">
		<strong> SECTION LINKS </strong>
		<ul class='nav-list'>
			<% if can? :read, @section%>		
				<li><a id = 'section_show' <% if default_tab?('show') %> class = 'selected' <% end %> href="#">Show</a></li>
				<li><a id = 'section_students' <% if default_tab?('students') %> class = 'selected' <% end %> href="#">Students</a></li>
				<li><a id = 'section_subjects' <% if default_tab?('subjects') %> class = 'selected' <% end %> href="#">Subjects</a></li>
				<li><a id = 'section_tests' <% if default_tab?('tests') %> class = 'selected' <% end %> href="#">Tests</a></li>												
				<li><a id = 'section_reports'  <% if default_tab?('reports') %> class = 'selected' <% end %> href="#">Reports</a></li>					
				<li><a id = 'section_timetable'  <% if default_tab?('timetable') %> class = 'selected' <% end %> href="#">Time Table</a></li>					
				<li> <%= link_to 'Advanced Search', section_searches_box_searches_path(:section_id => @section.id) %> </li>
				<li> <%= link_to 'Calendar', events_path(:object_id => @section.id, :object_type => "Section") %> </li>		<!-- :day will be current day-->
			<% end %>			
			<% if can? :update, @section%>
				<li><a id = 'section_edit'  <% if default_tab?('edit') %> class = 'selected' <% end %>  href="#">Edit</a></li>
			<% end %>
			<% if can? :update_section_elements, @section%>				
				<li><a id = 'section_update_students' <% if default_tab?('stunew') %> class = 'selected' <% end %> href="#">Update Students</a></li>
				<li><a id = 'section_update_marks' <% if default_tab?('marknew') %> class = 'selected' <% end %> href="#">Update Marks</a></li>					
				<li><a id = 'section_update_timetable' <% if default_tab?('marknew') %> class = 'selected' <% end %> href="#">Update TimeTable</a></li>					
			<% end %>
		</ul>
	</div>
</div>		
<div id="main-column">		
	<%= render 'shared/breadcrumbs', :target => @section %>	
	<p class="heading1">
		<%= @section.name %>, <%= @section.clazz.name %>
	</p>	
	<% if can? :read, @section%>			
		<div id='section_show' class='cantoggle'>	
			<%= render 'show', :section => @section %>
		</div> 		
		<div id='section_students' class='cantoggle'>	
			<%= render 'students', :section => @section %>
		</div> 		
		<div id='section_subjects' class='cantoggle'>	
			<%= render 'subjects', :section => @section %>
		</div> 		
		<div id='section_tests' class='cantoggle'>	
			<%= render 'tests', :section => @section %>
		</div> 								
		<div id='section_reports' class='cantoggle'>	
			<%= render 'report_options', :section => @section%>
		</div> 			
		<div id='section_timetable' class='cantoggle'>	
			<%= render 'timetable', :section => @section%>
		</div> 					
	<% end %>		
	<% if can? :update, @section%>	
		<div id='section_edit' class='cantoggle'>
			<%= render 'edit', :section => @section %>
		</div> 	
	<% end %>
	<% if can? :update_section_elements, @section%>	
		<div id='section_update_students' class='cantoggle'>	
			<%= render 'stunew', :section => @section %>
		</div> 		
		<div id='section_update_marks' class='cantoggle'>	
			<% if @test %>
				<%= render 'marknew', :section => @section, :test => @test %>
			<% else %>
				<strong> Update the tests before accessing this page </strong>
			<% end %>
		</div> 	
		<div id='section_update_timetable' class='cantoggle'>	
			<%= render 'timetablenew', :section => @section %>
		</div> 			
	<% end %>
	<div id="fav-bar">
		<ul>
			<li class='first'>  <%= link_to "My Home", root_url  %> </li>
			<li> <%= link_to "Back to " + @section.clazz.name, clazz_path(@section.clazz) %> </li>			
			<li> <%= link_to @section.clazz.branch.name, branch_path(@section.clazz.branch) %> </li>
			<li> <%= link_to 'Advanced Search', section_searches_box_searches_path(:section_id => @section.id) %> </li>			
		</ul>	
	</div>		
</div>		<!-- END of main-column -->


