<table class="one-column-emphasis" summary="Event Details">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <thead>
    	<tr>
        	<th scope="col">Events on <%= @d %> </th>
        </tr>
    </thead>
    <tbody>
    	<% if @events_on_day.empty? %>
    		<tr> <td> There are no events on this day </td></tr>
    	<% else %>
	    	<% @events_on_day.each do |e|%>
		    	<tr>
		            <td> 
		            	<strong> <%= e.name %> </strong> <br>
		            	From: &nbsp; <%= e.startime %> <br>
		            	To: &nbsp; <%= e.endtime %>            	
		            </td>
		        </tr>    	    	
	        <% end %>
	    <% end %>
      </tbody>
</table>


<table class="one-column-emphasis" summary="Day Calendar">
    <colgroup>
    	<col class="oce-first" style='width:175px;'/>
    </colgroup>
    <thead>
    	<tr>
        	<th scope="col">Time </th>
        	<th >Event Name </th>        	
        </tr>
    </thead>
    <!-- Change the date of all the events to the current date. 
    	    Otherwise it will render the calendar for the entire window for the recurring events -->
    <% @events_on_day.each do |eom| %>
    	<% eom.startime = Time.gm(@d.year, @d.month, @d.day, eom.startime.hour, eom.startime.min) %>
    	<% eom.endtime = Time.gm(@d.year, @d.month, @d.day, eom.endtime.hour, eom.endtime.min) %>
    <% end %>
    <!-- Give a window of 1 hour before the first and after the last event -->
    <% first_time_slot = round_up_minutes_to_30(@events_on_day.first.startime) - 60.minutes %>
    <% last_time_slot = round_up_minutes_to_30(@events_on_day.last.endtime) + 60.minutes %>
    <% time_slot = first_time_slot %>
    <tbody>
		<% loop do %>
			<tr>
		  		<td> <%= time_slot.strftime("%I:%M")  %> to <%= (time_slot  + 30.minutes). strftime("%I:%M  %p")  %></td>
		  		<!-- If an event falls into a particular slot, print the name. 
		  				This needs to be optmized. -->
		  		<% @events_on_day.each do |eod| %>
		  		<!-- This if condition needs to be verified with various use cases -->
		  			<% if (eod.startime >= time_slot && eod.startime < time_slot + 30.minutes) || %>
		  					<% (eod.endtime >= time_slot && eod.endtime < time_slot + 30.minutes) || %>
		  					<% (eod.startime <= time_slot  && eod.endtime >= time_slot + 30.minutes) %>
			  		<td>
			  			<%= eod.name %>
			  		</td>
		  		<% end %>
		  	<% end %>
		  	</tr>
		  	<% time_slot = time_slot + 30.minutes %>
		 	 <% break if time_slot >= last_time_slot %>
		<% end %>
    </tbody>
</table>