<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table>
	<tr>
		<th> <%=sortable "name" %></th>
		<th><%= sortable "school_id", "School" %></th>
		<th>Actions</th>
	</tr>

	<% @subjects.each do |subject| %>
		<tr>
			<td><%= link_to subject.name, subject %></td>
			<td><%= subject.school.name %></td>
			<td> <%= link_to 'Edit', edit_subject_path(subject) %> | 
				    <%= link_to 'Destroy', subject, :confirm => 'Are you sure?', :method => :delete %> </td>
		</tr>
	<% end %>
</table>	
<%= will_paginate @subjects %>