<%= form_for teacher, :html => { :class => "zaform"} do |f| %>		
	<%= render 'shared/error_messages', :target => teacher %> <br>
	<%= render 'teacher_fields', :f => f%>
	<%= f.fields_for :teacher_contact do |builder| %>
		<%= render 'teacher_contact_fields', :f => builder %>
	<% end %>
	<p> <%= f.submit  "Update Teacher" %> </p>	
<% end %>
