<fieldset> 
	<legend>Email</legend> 
	<ol> 	
		<li>
			<%= label_tag "To"%>
			<%= text_field_tag :to, @teacher.teacher_contact.primary_email, :class=> 'medium' %>
		</li>
		<li>
			<%= label_tag "CC"%>
			<%= text_field_tag :cc, nil, :class=> 'medium' %>
		</li>
		<li>
			<%= label_tag "BCC"%>
			<%= text_field_tag :bcc, nil, :class=> 'medium' %>
		</li>
		<li>
			<%= label_tag "Subject"%>
			<%= text_field_tag :subject, nil, :class=> 'medium'%>
		</li>
		<li>
			<%= label_tag "Message"%>
			<%= text_area_tag :message, nil, {:rows => 8, :cols => 40} %> <br>
		</li>
	</ol>					
</fieldset> 	



		