<fieldset> 
	<legend>Basic Information</legend> 
	<ol> 	
		<li>
	<%= label_tag "To"%>
	<%= text_field_tag :to, @teacher.teacher_contact.primary_email, :size => 50 %>

	CC 
	<%= text_field_tag :cc, nil, :size => 50 %>
 
	BCC 
	<%= text_field_tag :bcc, nil, :size => 50 %>

	Subject
	<%= text_field_tag :subject, nil,  {:size => 50}%>

	Message
	<%= text_area_tag :message, nil, {:rows => 15, :cols => 40} %> <br>

    <%= submit_tag "Send Email" %>
	</li>
	</ol>					
</fieldset> 																				
