<table id='teacher_show' class="one-column-emphasis" summary="Teacher Details">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <thead>
    	<tr>
        	<th scope="col">Name</th>
            <th scope="col"> <%= teacher.name %></th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td>Gender</td>
            <td><%= teacher.female? ? "Female" : "Male" %></td>
        </tr>    	
    	<tr>
        	<td>ID Number</td>
            <td><%= teacher.id_no %></td>
        </tr>
        <tr>
        	<td>Branch</td>
            <td> <%= link_to teacher.branch.name, branch_path(teacher.branch) %> </td>
        </tr> 
        <tr>
        	<td>Classes owned</td>
            <td> 
            	<% sec = Section. where('class_teacher_id = ?', teacher.id).all %>
            	<% if !sec.empty? %>
            		<% sec.each do |s| %>
            			<%= link_to s.name, section_path(s) %>, &nbsp; <%= link_to s.clazz.name, clazz_path(s.clazz) %>
            		<% end %>
            	<% else %>
            		NA
            	<% end %>
            	
        	</td>
        </tr>    
        <tr>
        	<td>Classes Handled</td>
            <td> 
            		<% teacher.sec_sub_maps.each do |m| %>
            			<%= link_to m.section.name, section_path(m.section) %>, &nbsp; <%= link_to m.section.clazz.name, clazz_path(m.section.clazz)%> <br>
            		<% end %>
            </td>
        </tr>            
        <tr>
        	<td>Email</td>
            <td>	<%= teacher.teacher_contact.primary_email  %> , <i> <%= teacher.teacher_contact.email %></td>
        </tr>
        <tr>
        	<td>Address</td>
            <td><%= teacher.teacher_contact.address %></td>
        </tr>
        <tr>
        	<td>Phone</td>
            <td><%= teacher.teacher_contact.mobile%> | <%= teacher.teacher_contact.telephone%> </td>
        </tr>            
    </tbody>
</table>

