<div class="field">
	<%= f.label :name %> <br>
	<%= f.text_field :name, :size => 15 %>
</div>
<div class="field">
	<%= f.label :id_no, "ID number"%> <br>
	<%= f.text_field :id_no, :size => 10 %>
</div>
<div class="field">
 	<%= f.label :female, "Gender" %> <br>
	<%= f.select :female, options_for_select([  ["Female", true], ["Male", false] ], f.object.female? ) , {:prompt => "Gender"}  %>
</div>

 
 
	