<fieldset> 
	<legend>Basic Information</legend> 
	<ol> 	
		<li>
			<%= f.label :name %> 
			<%= f.text_field :name %>
		</li>		
		<li>
			<%= f.label :id_no, "ID number"%> 
			<%= f.text_field :id_no %>
		</li>		
		<li>
		 	<%= f.label :female, "Gender" %>
			<%= f.select :female, options_for_select([  ["Female", true], ["Male", false] ], f.object.female? ) , {:prompt => "Gender"}  %>
		</li>
	</ol>					
</fieldset> 			
 
 
	