<div id="nav-column">
	<div id="photo-box">
	</div>
	<div class="nav-links">
		<strong> TEACHER LINKS </strong>
		<ul class='nav-list'>
			<% if can? :read, @teacher%>
				<li><a id = 'teacher_my_page' <% if default_tab?('my_page') %> class = 'selected' <% end %> href="#">My Page</a></li>
				<li><a id = 'teacher_show' <% if default_tab?('show') %> class = 'selected' <% end %> href="#">Show</a></li>
				<li><a id = 'teacher_clazzs' <% if default_tab?('clazzs') %> class = 'selected' <% end %> href="#">Classes</a></li>
				<li><a id = 'teacher_calendar' <% if default_tab?('calendar') %> class = 'selected' <% end %> href="#">Calendar</a></li>				
			<% end %>
			<% if can? :update, @teacher%>
				<li><a id = 'teacher_edit'  <% if default_tab?('edit') %> class = 'selected' <% end %>  href="#">Edit</a></li>
				<li><a id = 'teacher_weekly_plan'  <% if default_tab?('weekly_plan') %> class = 'selected' <% end %> href="#">Weekly Plan</a></li>						
			<% end %>
			<% if can? :communicate, @teacher%>				
				<li><a id = 'teacher_email' <% if default_tab?('emailnew') %> class = 'selected' <% end %> href="#">Email</a></li>
				<li><a id = 'teacher_sms'  <% if default_tab?('smsnew') %> class = 'selected' <% end %> href="#">SMS</a></li>
			<% end %>
		</ul>
	</div>
</div>
<div id="main-column">	
	<%= render 'shared/breadcrumbs', :target => @teacher %>	
	<p class="heading1">
		<%= @teacher.name %>
	</p>		
	<% if can? :read, @teacher%>	
		<div id='teacher_my_page' class='cantoggle'>	
			<%= render 'my_page', :teacher => @teacher,
												:writable_sections => @writable_sections,
												:readable_sections => @readable_sections,
												:writable_branches => @writable_branches,
												:readable_branches => @readable_branches %>
		</div> 	
		<div id='teacher_show' class='cantoggle'>	
			<%= render 'show', :teacher => @teacher,
												:writable_sections => @writable_sections,
												:readable_sections => @readable_sections,
												:writable_branches => @writable_branches,
												:readable_branches => @readable_branches %>
		</div> 
		<div id='teacher_clazzs' class='cantoggle'>	
			<%= render 'clazzs', :teacher => @teacher %>
		</div> 		
		<div id='teacher_calendar' class='cantoggle'>
			<p> <strong> Coming soon... <br> A calendar capturing all the to-dos and tasks of this teacher </strong> </p>
		</div> 			
	<%end%>
	<% if can? :update, @teacher%>	
		<div id='teacher_edit' class='cantoggle'>
			<%= render 'edit', :teacher => @teacher %>
		</div> 	
	<%end%>
	<% if can? :communicate, @teacher%>		
		<div id='teacher_email' class='cantoggle'>	
			<%= render 'emailnew', :teacher => @teacher %>
		</div> 		
		<div id='teacher_sms' class='cantoggle'>
			<%= render 'smsnew', :teacher => @teacher %>
		</div> 
		<div id='teacher_weekly_plan' class='cantoggle'>
			<p> <strong> Coming soon... <br> A workflow to submit the weekly plans (of a teacher) to hod or any higher authority </strong> </p>
		</div> 			
	<%end%>
	<div id="fav-bar">
		<ul>
			<li class='first'>  <%= link_to "My Home", root_url  %> </li>
			<li> <%= link_to @teacher.branch.name, branch_path(@teacher.branch) %> </li>
		</ul>	
	</div>			
</div>		<!-- END of main-column-->


