<div id="content">
	<div class="padding">

		<p>
		 <h2>  <%= @teacher.name %> (<%= @teacher.female? ? "Female" : "Male" %>) </h2>
		</p>
		
		<p>
		  <b>ID no:</b>
		  <%= @teacher.id_no %>
		</p>
		
		<p>
		  <b>School:</b>
		  <%= @teacher.branch.name %>
		</p>
		
		<% if @teacher.teacher_contact %>
			<h3> Contact information </h3>
			
			<p>
				<b> Email: </b>
				<%= @teacher.teacher_contact.primary_email  %> , <i> <%= @teacher.teacher_contact.email %> </i>				
			</p>		
			<p>
				<b> Address: </b> <br>
				<%= @teacher.teacher_contact.address %> <br> <br>
				
				<b> Phone: </b><%= @teacher.teacher_contact.mobile%> | <%= @teacher.teacher_contact.telephone%>				
			</p>
		<% else %>
			<% if can? :update, @teacher%>
				<h3> Contact information not available yet </h3>
				Click <%= link_to 'here', edit_teacher_path(@teacher) %> to update.
			<% end %>
		<% end %>
		
		<br><br>
		<% if can? :update, @teacher%>
			<%= link_to 'Edit this teacher', edit_teacher_path(@teacher) %>  | 
		<% end %>
		<% if can? :communicate, @teacher%>
			<%= link_to 'Email', emailnew_teacher_path(@teacher)%> | 
			<%= link_to 'Email', smsnew_teacher_path(@teacher)%> | 
		<% end %>
		<% if can? :index, Teacher%>
			<%= link_to 'Teachers Index', teachers_path %> 
		<% end %>
		
	</div>
</div>

