<% marks_search = Mark.search(nil)%>
<%= form_for marks_search, :url => branch_marks_searches_path, :html => {:method => 'get'} do |f| %>
	<%= hidden_field_tag :branch_id, branch.id %>
	<%= hidden_field (:students_search, :section_clazz_branch_id_eq, :value => branch.id) %>
	
	<table class="form-table"  summary="Branch Marks advanced search">
		<tbody>		
			<tr>
				<td> <strong> Classes </strong> </td> 	
				<td>
					<% f.collection_checks :section_clazz_id_in, @branch.clazzs.all, :id, :name do |check| %>
					    <%= check.box %> <%= check.label %>
					<% end %>
			 	</td>
			 </tr>				
			<tr>
				<td> <strong> Tests </strong> </td> 	
				<td>
					<% f.collection_checks :test_id_in, @branch.tests.all, :id, :name do |check| %>
					    <%= check.box %> <%= check.label %>
					<% end %>
			 	</td>
			 </tr>
			<tr>
				<td> <strong> Total Marks Range</strong> </td> 	
				<td>
	    			<%= f.text_field :total_gt, :size => 5 %> - <%= f.text_field :total_lt, :size => 5 %> 
	    		</td>
	    	</tr>
		</tbody>
	</table>
	<%= f.submit "Search" %>
<% end %>			

<% if !@marks %>
<% elsif  @marks.empty? %>
	<p>
		<strong> <%= no_search_matches() %> </strong>
	</p>
<% else %>
	<table class='index_table_z' id='datatable' summary=<% "Branch Marks search results" %>>
	    <thead>		    	
		    	<tr>
		    		<th scope="col">Student Name</th>
		    		<th scope="col">Section</th>
		    		<th scope="col">Class</th>
		    		<th scope="col"> Test Name </th>	    		
			        <th scope="col"> Total </th>
		        </tr>	    	
		</thead>
	    <tbody>
			<% for m in @marks %>
				<tr>
					<td> <%=m.student.name%></td>
					<td> <%=m.section.name%></td>
					<td> <%=m.section.clazz.name%></td>										
					<td> <%=m.test.name%></td>
					<td> <%=m.total%></td>
		        </tr>
			<% end %>			
	    </tbody>	
	</table>
<% end %>