<% students_search = Student.search(nil) %>
<%= form_for students_search, :url => branch_students_searches_path, :html => {:method => 'get'} do |f| %>
	<%= hidden_field (:students_search, :section_clazz_branch_id_eq, :value => branch.id) %>
	<%= hidden_field_tag :branch_id,  branch.id %>	
	<div id="form-table-div">
		<p class='heading2'> Search Students </p>		
		<table class="form-table"  summary="Branch Marks advanced search">
			<tbody>
				<tr>
					<td> 
						<strong> Classes </strong>
					</td> 	
					<td>
						<% f.collection_checks :section_clazz_id_in, @branch.clazzs.all, :id, :name do |check| %>
							<%= check.box %> <%= check.label %>
						<% end %>
				 	</td>
				 </tr>
				<tr>				
				<tr>
					<td> <strong> Name </strong> </td> 	
					<td>  <%= f.text_field :name_contains %> </td>
				 </tr>
				<tr>
					<td> <strong> ID </strong> </td> 	
					<td> <%= f.text_field :id_no_contains %> </td>
				</tr>
				<tr>
					<td> <strong> Email </strong> </td> 	
					<td> <%= f.text_field :student_contact_primary_email_or_student_contact_email_contains%> </td>
				</tr>					
				<tr>
					<td> <strong> Address/Mobile/Telephone </strong> </td> 	
					<td> <%= f.text_field :student_contact_address_or_student_contact_mobile_or_student_contact_telephone_contains %> </td>
				</tr>		
				<tr><td class='button' colspan='2'><%= f.submit "Search" %></td></tr>										
			</tbody>
		</table>										
	</div>
<% end %>


<% if !@students %>
<% elsif  @students.empty? %>
	<p>
		<strong> <%= no_search_matches() %> </strong>
	</p>
<% else %>
	<table class='index_table_z' id='datatable' summary=<% "Branch Students search results" %>>
	    <thead>		    	
		    	<tr>
		    		<th scope="col">Name</th>
		    		<th scope="col"> ID </th>	    		
		    		<th scope="col"> Class </th>	    		
		    		<th scope="col"> Section </th>	    		
					<th scope="col"> Email </th>	    		
		          <th scope="col"> Address </th>
		          <th scope="col"> Telephone </th>		          
		        </tr>	    	
		</thead>
	    <tbody>
			<%@students.each do |student| %>
				<tr>
					<td> <%= student.name %></td>
					<td> <%= student.id_no %></td>
					<td> <%= student.section.clazz.name %></td>
					<td> <%= student.section.name %></td>					
					<% if student.student_contact %>
						<td> <strong> <%= student.student_contact.primary_email %></strong> , <%= student.student_contact.email %></td>
						<td> <%= student.student_contact.address %> </td>
						<td> <%= student.student_contact.mobile %> | <%= student.student_contact.telephone %> </td>
					<% else %>				
						<td>-</td><td>-</td><td>-</td>
					<% end %>
		        </tr>
			<% end %>
	    </tbody>	
	</table>
<% end %>
