<% students_search = Student.search(nil) %>
<%= form_for students_search, :url => branch_students_searches_path, :html => {:method => 'get',  :class => 'ajaxified_search_form'} do |f| %>
	<%= hidden_field (:students_search, :section_clazz_branch_id_eq, :value => branch.id) %>
	<%= hidden_field_tag :branch_id,  branch.id %>	
	<div id="form-table-div">
		<p class='heading2'> Search Students </p>		
		<table class="form-table"  summary="Branch Marks advanced search">
			<tbody>
				<tr>
					<td> 
						<strong> Classes </strong>
					</td> 	
					<td>
						<% f.collection_checks :section_clazz_id_in, @branch.clazzs.all, :id, :name do |check| %>
							<div class="rows-of-three">
								<%= check.box %> <%= check.label %>
							</div>
						<% end %>
				 	</td>
				 </tr>
				<tr>				
				<tr>
					<td> <strong> Name </strong> </td> 	
					<td>  <%= f.text_field :name_contains %> </td>
				 </tr>
				<tr>
					<td> <strong> ID </strong> </td> 	
					<td> <%= f.text_field :id_no_contains %> </td>
				</tr>
				<tr>
					<td> <strong> Email </strong> </td> 	
					<td> <%= f.text_field :student_contact_primary_email_or_student_contact_email_contains%> </td>
				</tr>					
				<tr>
					<td> <strong> Address/Mobile/Telephone </strong> </td> 	
					<td> <%= f.text_field :student_contact_address_or_student_contact_mobile_or_student_contact_telephone_contains %> </td>
				</tr>		
				<tr><td class='button' colspan='2'><%= f.submit "Search" %></td></tr>										
			</tbody>
		</table>										
	</div>
<% end %>

<div id="branch_student_search_results">

</div>

