<% if !@students %>
<% elsif  @students.empty? %>
	<p>
		<strong> <%= no_search_matches() %> </strong>
	</p>
<% else %>
	<table class='index_table_z' id='datatable' summary=<% "Section Students search results" %>>
	    <thead>		    	
		    	<tr>
		    		<th scope="col">Name</th>
		    		<th scope="col"> ID </th>	    		
		    		<th scope="col"> DOB </th>	    		
					<th scope="col"> Email </th>	    		
		          <th scope="col"> Address </th>
		          <th scope="col"> Telephone </th>		          
		        </tr>	    	
		</thead>
	    <tbody>
			<%@students.each do |student| %>
				<tr>
					<td> <%= student.name %></td>
					<td> <%= student.id_no %></td>
					<td> <%= student.dob.to_s(:long) %> </td>
					<% if student.student_contact %>
						<td> <strong> <%= student.student_contact.primary_email %></strong> , <%= student.student_contact.email %></td>
						<td> <%= student.student_contact.address %> </td>
						<td> <%= student.student_contact.mobile %> | <%= student.student_contact.telephone %> </td>
					<% else %>				
						<td>-</td><td>-</td><td>-</td>
					<% end %>
		        </tr>
			<% end %>
	    </tbody>	
	</table>
<% end %>