<div id="main-column">	
	<% hash = mark_columns(@section) %>
	<% if @students_search %>
		<%= form_for @students_search, :url => searches_path, :html => {:method => 'get'} do |f| %>
			<%= hidden_field (:students_search, :section_id_eq, :value => @section.id) %>
			 <p>
		    	Name contains: <%= f.text_field :name_contains %>
		    </p>
			 <p>
		    	Total greater than: <%= f.text_field :marks_total_gt %>
		    </p>	    
		    <p>
			    Born after: 	<%=f.date_select :dob_greater_than, {:prompt => true, :start_year => Time.now.year - 30, 
													:end_year => Time.now.year, :order => [:day, :month, :year]} %>
			</p>
	    	<%= f.submit "Search" %>
		<% end %>
	<% end %>
	
	<% if @marks_search%>
		<%= form_for @marks_search, :url => searches_path, :html => {:method => 'get'} do |f| %>
			<%= hidden_field (:students_search, :section_id_eq, :value => @section.id) %>
			
			<table class="form-table"  summary="Section Marks advanced search">
	    		<tbody>			
					<tr>
						<td> 
							<strong> Tests </strong>
						</td> 	
						<td>
							<% f.collection_checks :test_id_in, @section.tests.all, :id, :name do |check| %>
							    <%= check.box %> <%= check.label %>
							<% end %>
					 	</td>
					 </tr>
					<tr>
						<td> 
							<strong> Marks Range </strong>
						</td> 	
						<td>
							<% hash.each do |sub_name, mark_col| %>
								<%= f.text_field "#{mark_col}_gt", :size => 4 %> - <%= f.text_field "#{mark_col}_lt", :size => 4 %>  <%= "#{sub_name}"%>	  <br><br>
							<% end %>
						</td>
					</tr>		
					<tr>
						<td> 
							<strong> Total Marks Range</strong>
						</td> 	
						<td>
			    			<%= f.text_field :total_gt, :size => 5 %> - <%= f.text_field :total_lt, :size => 5 %> 
			    		</td>
			    	</tr>
					<tr>
						<td> 
							<strong> Students </strong>
						</td> 	
						<td>
							<% f.collection_checks :student_id_in, @section.students.all, :id, :name do |check| %>
							    <%= check.box %> <%= check.label %>
							<% end %>
						</td>
					</tr>		
				</tbody>
			</table>
			<%= f.submit "Search" %>
		<% end %>			
	<% end %> <!-- end of if @marks_search-->
	
 	<% if @marks.empty? %>
 	<p>
 		<strong> <%= no_search_matches() %> </strong>
 	</p>
 	<% else %>
		<table class='index_table_z' id='datatable' summary=<% "Section Marks search results" %>>
		    <thead>		    	
			    	<tr>
			    		<th scope="col">Student Name</th>
			    		<th scope="col"> Test Name </th>	    		
						<% hash.each do |sub_name, mark_col| %>
			        			<th scope="col"> <%= sub_name.humanize %></th>
			            <% end %>
			          <th scope="col"> Total </th>
			        </tr>	    	
			</thead>
		    <tbody>
				<% for m in @marks %>
					<tr>
						<td> <%=m.student.name%></td>
						<td> <%=m.test.name%></td>
						<% hash.each do |sub_name, mark_col| %>
							<td> <%= m.send(mark_col) %> </td>
						<% end %>					
						<td> <%=m.total%></td>
			        </tr>
				<% end %>			
		    </tbody>	
		</table>
	<% end %>
