<%= form_for(@school) do |f| %>
	<%= render 'shared/error_messages', :target => @school %>
	  
  	<div class="field">
		<%= f.label :name %><br />
	    <%= f.text_field :name %>
	 </div>
	  
	<div class="field">
	    <%= f.label :principal %><br />
	    <%= f.text_field :principal %>
	</div>
	  
	<div class="field">
	    <%= f.label :location %><br />
	    <%= f.text_field :location %>
	</div> 
		  
	<div class="actions">
	    <%= f.submit %>
	</div>
<% end %>
