<div id="content">
	<div class="padding">
			<p>
			  <b>Name:</b>
			  <%= @school.name %>
			</p>
			
			<p>
			  <b>Location:</b>
			  <%= @school.location %>
			</p>
			
			<p>
			  <b>Principal:</b>
			  <%= @school.principal %>
			</p>
			
			<p>
				<h2> Teacher list </h2>						
				<ul>
				<% @school.teachers.each do |t| %>
					<li> <%= t.name %> </li>
				<% end %>
				</ul>		
			</p>
			
			<p>	
				<h2> Section list </h2>
				<ul>
				<% @school.sections.each do |s| %>
					<li> <%= link_to s.name, section_path(s) %> </li>
				<% end %>
				</ul>		
			</p>
			
			<h2> Subject list </h2>
			
			<p>
				<ul>
				<% @school.subjects.each do |s| %>
					<li> <%= s.name %> </li>
				<% end %>
				</ul>		
			</p>	
			
			<h2> Test list </h2>
			
			<p>
				<ul>
				<% @school.tests.each do |t| %>
					<li> <%= t.name %> </li>
				<% end %>
				</ul>		
			</p>	
		
			<br><br>
			<%= link_to 'Edit this school', edit_school_path(@school) %>  | 
			<%= link_to 'Schools Index', schools_path %> <br> <br>
			
			<b> Add | Edit &nbsp  </b> 
			<%= link_to 'Teachers', tnew_school_path(@school)%>  |
			<%= link_to 'Sections', secnew_school_path(@school)%>  | 
			<%= link_to 'Subjects', subnew_school_path(@school)%>  | 
			<%= link_to 'Tests', testnew_school_path(@school)%>  
	</div>
</div>
