<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>WhiteReports</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'highcharts', 'jquery.tokeninput', 'graph_input' %>
   <%= csrf_meta_tag %>
</head>
<body>	
	<% if @login_screen %>
		<div id="header-login">
			<p class= "logo">
				campusWatch
			</p>
			<%= render 'shared/log_in' %>
		</div >
	<% else %>
		<div id="header">
			<p class= "logo">
				campusWatch
			</p>	
			<div id="tab-bar">
				<% if current_profile %>
				<ul>
					<li>  <a href = '#'> Contact </a> </li>
					<li> <a href = '#'>About us </a> </li>
					<li> <strong> <a id='header-drop-down-list' href = '#'> <%= current_profile.user_profile.name.humanize %> </a></strong></li>
				</ul>	
				<% end %>
			</div>
			<div id="header-drop-down">
				<ul>
					<li> <%= link_to "Home", root_url  %></li>
					<li><a href = '#'> Change Password </a> </li>
					<li><%= link_to "Sign out!", log_out_path %> </li>
				</ul>
			</div>	
		</div>	
	<% end %>	
	<div id="page-container">	
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>		
		<%= yield %>
	</div>
			
	<div id="footer">
		<div id="altnav">
			<a href="#">About</a> - 
			<a href="#">Services</a> - 
			<a href="#">Portfolio</a> - 
			<a href="#">Contact Us</a> - 
			<a href="#">Terms of Trade</a>
		</div>
		Copyright © Enlighten Designs
	
		Powered by <a href="http://www.enlightenhosting.com/">Enlighten Hosting</a> and
		<a href="http://www.vadmin.co.nz/">Vadmin 3.0 CMS</a>
	</div>

</div>


</body>
</html>
